@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

:root{
/* --main-color: #116175; */
--main-color:#34ad94;
/* --main-color:red; */
/* --main-color:#377280; */
--btnHover-color: #05b8b8;
--primary-color: rgb(73, 148, 246);
--second-color: #efd388;
--third-color: rgb(52, 123, 216);
--main-transition: 0.4s ease;
-webkit-transition: 0.2s ease;
-moz-transition: 0.2s ease;
-ms-transition: 0.2s ease;
-o-transition: 0.2s ease;
}



/*&==========Start Global Rules ===========*/
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html{
   scroll-behavior: smooth;
}

body{
   font-family: "Tajawal", sans-serif;
}

ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
a{
   text-decoration: none !important;
   color: white;
}
.main-color {
   color:var(--main-color) !important ;
}
.bg-main {
   background-color:var(--main-color) !important;
   color: white !important;
}
.bg-color:hover {
   background-color: var(--btnHover-color) !important;
} 
.main-header {
   text-align: center;
   color: var(--main-color);
   margin:auto;
   font-size: 40px;
   font-weight: bold;
   /* width: fit-content; */
}
.under-header {
   position: relative;
   /* text-align: center; */
   color: var(--main-color);
   margin: 10px auto 100px auto ;
   font-size: 40px;
   font-weight: bold;
   width: 20%;
}

@media (min-width:992px){
   .under-header {
      width: 10%;
   }
}
.under-header::before {
   content: "";
   position: absolute;
   bottom: 0px ;
   left: 0;
   width: 100%;
   height: 4px;
   background-color: var(--main-color);
}

.under-header::after {
   content: "";
   position: absolute;
   top: -2px ;
   left: 50%;
   right: 50%;
   transform: translate(-50% , -50%);
   width: 35px;
   height: 35px;
   border-radius: 50%;
   border: 5px solid white;
   background-color: var(--main-color);
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   -webkit-transform: translate(-50% , -50%);
   -moz-transform: translate(-50% , -50%);
   -ms-transform: translate(-50% , -50%);
   -o-transform: translate(-50% , -50%);
}


@media (max-width: 990px){
   .main-header {
      margin: 20px 0px;
      font-size: 25px;
   } 
   .under-header::after {
      width: 25px;
      height: 25px;
   }
}
/*&==========Ens Global Rules  ===========*/


/*Start Media Screen */
                     /* Mobil Screen */
@media (max-width: 767px) {
}
                     /* Small Screen */
@media (min-width: 768px) {
}
                     /* Medium Screen */
@media (min-width:992px){
}
                     /* Large Screen */
@media (min-width:1200px){
}
/*End Media Screen */








/*& ========= Start Loading Component ============ */
   .spinner-border {
      width: 150px !important;
      height: 150px !important;
      border-width: 10px !important;
      }
/*& ========== End Loading Component ============ */











/*&======= Start Price Component ==========*/
   .price .card_item {
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      border: 1px solid transparent!important;

   }
   .price .card_item:hover {
      border-color: var(--main-color) !important;
   }
/*&======= End Price Component ==========*/









/*&======= Start AddTest Component ==========*/
   .addTest .price_card {
      border: 2px solid var(--main-color);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
   }
/*&======= End AddTest Component ==========*/





/*&======= Start Test DashBoard Component ============*/
#test_search {
   height: 25px !important;
}
#test_search::placeholder {
   font-size: 15px !important;
}
/*&======= End Test DashBoard Component ============*/






/*&======= Start OrderLoggedUser Component ============*/
   @media (max-width: 990px){
      .OrderLoggedUser {
         width: 100% !important;
      }
   }
/*&======= End OrderLoggedUser Component ============*/







/*&======= Start  Added Star In Required Field ============*/

label.required::after {
   content: "*";
   color: red;
   position: relative;
   left: 10px;
   top: 10px;
   font-weight: bold;
   font-size: 25px;
}
label.not-required::after {
   content: "*";
   color: transparent;
   position: relative;
   left: 10px;
   top: 10px;
   font-weight: bold;
   font-size: 25px;
}
/*&======= End Added Star In Required Field ============*/






/*&======= Start Style To All Input Your Project ============*/

.form-control {
   padding: 8px 40px 8px 60px;
   border: 2px solid var(--main-color) ;
}
label.form-label{
   margin: 0 !important;
   /* color: var(--main-color); */
}
input::placeholder {
   color: var(--main-color);
   font-size: 18px;
}

.form-control:focus {
   outline: 2px solid var(--main-color) !important ;
   border: 2px solid var(--main-color) !important ;
}

.icon-input-field {
   position: absolute;
   top: 50px;
   left: 30px;
   color: var(--main-color);
}
/* .icon-input-field::after {
   content: "";
   position: absolute;
   top: -14px;
   left: 28px;
   height: 42px; 
   z-index: 999;
   border-right: 2px solid var(--main-color);
} */

.toggle-password {
   position: absolute;
   top: 50px;
   right: 10px;
   color: var(--main-color);
}

/*&======= End Style To All Input Your Project ============*/










/*&======= Start All Order User Component ============*/
   .AllOrderLoggedUser .time_ago {
      font-size: 12px;
      margin: 0;
      padding: 0;
   }
   .AllOrderLoggedUser .time_ago span {
      padding: 0px 2px !important;
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      -ms-border-radius: 0 !important;
      -o-border-radius: 0 !important;
}
/*&======= End All Order User Component ==============*/








/*&======= Start Order Old User Component ==============*/
   .OrderLoggedUser .cart_patient {
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
   }
   .OrderLoggedUser .cart_patient:hover {
      background-color: var(--main-color) !important;
      color: white;
   }
/*&======= End Order Old User Component ==============*/









/*&======= Start Featured Home Component ==============*/
   .featuredHome .addTestHome {
      top: 260px;
      right: -200px;
      min-width:200px;
      min-height: 400px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
   }
   .toggle_move {
      right: 0px !important;
   }
   .featuredHome .addTestHome .addTest {
      top: 0px;
      left: -110px;
      width: 100px;
   }
   .featuredHome .addTestHome a {
      display: block;
      color: white;
      font-weight: bold;
      padding: 5px 2px;
      margin: 5px 0px;
      background-color: rgb(110, 111, 111);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
   }
   .featuredHome .addTestHome a:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
   }
   .container-fluid.featuredHome .imageHome{
      background-image: url("../src/Assets/images/home-page.png");
      width: 95%;
      height: 200px;
      margin-top: 20px !important;
      margin: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
   }
   .container-fluid.featuredHome .imageHome::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 40%;
   }
   .container-fluid.featuredHome .imageHome h1{
      font-family: "Playwrite CU", cursive;
   }
/*&======= End Featured Home Component ================*/





/*&======= Start DashBoard Component ================*/
      .dashBoard .nav_dashboard {
         max-width: 200px;
         min-height: 100vh;
         z-index: 999 !important;
         left: -210px;
         transition: var(--main-transition);
         -webkit-transition: var(--main-transition);
         -moz-transition: var(--main-transition);
         -ms-transition: var(--main-transition);
         -o-transition: var(--main-transition);
      }
      .dashBoard .nav_dashboard button  {
         right: -75px;
         transition: var(--main-transition);
         -webkit-transition: var(--main-transition);
         -moz-transition: var(--main-transition);
         -ms-transition: var(--main-transition);
         -o-transition: var(--main-transition);
      }
      .dashBoard .nav_dashboard button:hover  {
         scale: 1.1 ;
      }
      .dashBoard .nav_dashboard .links li {
         margin: 2px 0px;
         padding: 2px;
         transition: var(--main-transition);
         -webkit-transition: var(--main-transition);
         -moz-transition: var(--main-transition);
         -ms-transition: var(--main-transition);
         -o-transition: var(--main-transition);
      }
      .dashBoard .nav_dashboard .links li span.arrow{
         right: 5px;
         display: none;
         transition: var(--main-transition);
         -webkit-transition: var(--main-transition);
         -moz-transition: var(--main-transition);
         -ms-transition: var(--main-transition);
         -o-transition: var(--main-transition);
      }
      .dashBoard .nav_dashboard .links li:hover {
         transform: translate(15px , 0);
         -webkit-transform: translate(15px , 0);
         -moz-transform: translate(15px , 0);
         -ms-transform: translate(15px , 0);
         -o-transform: translate(15px , 0);
      }
      .dashBoard .nav_dashboard .links li:hover span.arrow {
         display: inline-block;
         margin-left: 10px;
      }
      .toggle_move_dashboard {
         left: 0 !important;
      }
      @media (max-width: 767px){
         .dashBoard .link_home_dashboard button{
            font-size: 8px !important ;
            padding: 5px;
         }
      }
/*&======= End DashBoard Component ================*/









/*&======= Start Home DashBoard Component ================*/
   .homeDashboard .table {
      /* font-size: 10px; */
   }
   .homeDashboard .table button ,
   .homeDashboard .table .alert {
      font-size: 12px !important;
      padding: 2px 10px !important;
   }
   @media (max-width: 992px){
      .homeDashboard .table {
         font-size: 6px !important;
      }
      /* .homeDashboard .table .message {
         font-size: 6px !important;
      } */
      .homeDashboard .table a ,
      .homeDashboard .table .alert {
         font-size: 6px !important;
         padding: 1px 10px !important;
      }
   }
/*&======= End Home DashBoard Component ================*/








/*&======= Start User DashBoard Component ================*/
   .userDashboard .table {
      /* font-size: 10px; */
   }
   .userDashboard .table button ,
   .userDashboard .table .alert {
      font-size: 12px !important;
      padding: 2px 10px !important;
   }
   .userDashboard .table span {
      cursor: pointer;
   }
   @media (max-width: 992px){
      .userDashboard .table {
         font-size: 6px !important;
      }
      /* .userDashboard .table .message {
         font-size: 6px !important;
      } */
      .userDashboard .table a ,
      .userDashboard .table .alert {
         font-size: 6px !important;
         padding: 1px 10px !important;
      }
   }
/*&======= End User DashBoard Component ================*/




/*&======= Start  Pagination Component ================*/
   @media(max-width:992px){
      .pagination .page-item ,
      .pagination .page-link {
         font-size: 8px !important;
      }
   }
/*&======= End  Pagination Component ================*/



/*&=============== Start Alert Offline Component ==================== */
   .network {
      overflow: hidden;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50% , -50%);
      -webkit-transform: translate(-50% , -50%);
      -moz-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
      -o-transform: translate(-50% , -50%);
      border: 4px solid rgb(195, 195, 195);
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      z-index: 999;
}
/*&================== End Alert Offline Component ==========================*/







/*^=================================================== Start Media Mobile ============================================== */
   @media (max-width: 990px){
      .carousel-inner {
         height: 200px !important;
      }
      .rowDetails {
         text-align: center !important;
      }
      .form-check {
         padding-left: 2.5em;
         margin-bottom: 2.125rem;
      }
      .parentContainer{
         width: 95% !important;
      }
   }
/*^=================================================== End Media Mobile ============================================== */








/*& ========== Start Footer Component ============== */
   .footer{
      background-color: black;
   }

   .footer .cartIconFooter{
      background-color: var(--main-color);
      margin: 0px 4px ;
      /* width: 30px;
      height: 30px; */
      display: flex;
      align-items: center;
      justify-content: center;
      color: black;
      border: 2px solid white;
      padding: 8px;
   }

   footer .cartIconFooter:hover i{
      color: white;
      transition: var(--main-transition);
      -webkit-transition: var(--main-transition);
      -moz-transition: var(--main-transition);
      -ms-transition: var(--main-transition);
      -o-transition: var(--main-transition);
      scale: 1.1;
   }


   footer .developer  {
      font-size: 10px;
   }

   .footer-info {
      font-size: 14px ;
   }




   @media (max-width: 767px){
      footer .parentIcon {
         margin-top: 50px;
      }
   }
/*& ========== End Footer Component ============== */
